[Unit]
Description=SAVIOUR's distributed currency daemon
After=network.target

[Service]
User=saviour
Group=saviour

Type=forking
PIDFile=/var/lib/saviourd/saviourd.pid

ExecStart=/usr/bin/saviourd -daemon -pid=/var/lib/saviourd/saviourd.pid \
          -conf=/etc/saviour/saviour.conf -datadir=/var/lib/saviourd

ExecStop=-/usr/bin/saviour-cli -conf=/etc/saviour/saviour.conf \
         -datadir=/var/lib/saviourd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
